---
---

@import "{{ site.theme }}";

header ul {
    list-style: disc;
    border: 0px;
    background: none;
    padding-left: 20px;
}

header li {
    border: 0px;
    float: none;
}

header ul a strong {
    color: #267CB9;
}
